{% extends "base.html" %}
{% load custom_markdown %}

{% block content %}
<div class="posts">
  <p>About me</p><br />
  <ol>
    <li>个人信息
      <ul>
        <li>陈江龙 男 1988</li>
        <li>家乡 河北石家庄</li>
        <li>硕士研究生 北理工 2011</li>
      </ul>
    </li>
    <li>联系我
      <ul>
        <li>email: ambjlon at gmail dot com</li>
        <li>blog: <a href="www.wgcimpression.pub">www.wgcimpression.pub</a></li>
      </ul>
    </li>
    <li>如果您觉得我的文章对您有帮助, 欢迎扫码捐赠. 您的支持是我最大的动力, 即便是1元钱.
      <ul>
        <li>支付宝:<br /><img src="http://media.xtwind.com/images/2015/06/29/2bb8885d5a0e981baaf2b66d049a42cc.jpg"></li>
        <li>微信支付:<br /><img src="http://media.xtwind.com/images/2015/06/29/ed1abecc2a959339fbb21a64386a5764.jpg"></li>
      </ul>
    </li>
  </ol>
</div>
{% endblock %}
