<!doctype html>
<html lang="en">
  <head>
    <meta name="baidu-site-verification" content="UCMcbjXMya" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="个人博客 专注互联网编程">
    <title>Weigongcun Impressions</title>
    <link rel="stylesheet" href="/static/blog.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">    
    <link rel="stylesheet" href="/static/pygments-css/zenburn.css">
    <!-- 标签云依赖  貌似没有必要暂且注释掉-->
    <!--link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'-->
    <!-- 多级菜单依赖 -->
    <link rel="stylesheet" type="text/css" href="/static/navigation.css">
    <!--左侧sidebar隐藏 开始 参考https://blackrockdigital.github.io/startbootstrap-simple-sidebar/ -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/simple-sidebar.css" rel="stylesheet">
    <!--左侧sidebar隐藏 结束 -->
    <!-- 标签云 参考:http://www.goat1000.com/tagcanvas.php
         tagcanvas example http://www.goat1000.com/tagcanvas-examples.php
         tagcanvas 响应式设计http://www.goat1000.com/tagcanvas-faq.php#faq4  找对文档了  事情很简单~_~
         tagcanvas 设置选项 http://www.goat1000.com/tagcanvas-options.php -->
    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script><!-- 标签云 分页等共同依赖的jQuery库-->
    <script src="/static/jquery.tagcanvas.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(document).ready(function() {
      if(!$('#myCanvas').tagcanvas({
      textFont: 'Impact,"Arial Black",sans-serif',
      textHeight: 25,
      textColour: '#000000',
      outlineColour: '#ff00ff',
      reverse: true,
      depth: 0.8,
      maxSpeed: 0.05
      },'tags')) {
      // something went wrong, hide the canvas container
      $('#myCanvasContainer').hide();
      }      
      });
    </script>
    <!-- 社交分享 使用了百度分享 http://share.baidu.com/ 登陆用户百度账号 ambjlon-->
    <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"1","bdMiniList":["weixin","sqq","tsina","qzone","douban","youdao","evernotecn"],"bdPic":"","bdStyle":"0","bdSize":"16"},"slide":{"type":"slide","bdImg":"1","bdPos":"right","bdTop":"100"}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
    <!-- 分页https://codepen.io/anon/pen/amLvaz -->
    <!-- ajax异步请求回来的内容中不能含有js代码. http://stackoverflow.com/questions/24639335/javascript-console-log-causes-error-synchronous-xmlhttprequest-on-the-main-thr 所以把分页的js css挪到这里来了-->
    <script src="/static/ajax.js" type="text/javascript"></script>

    
    <script>var duoshuoQuery = {short_name:"wgcimpression"};</script>
    <script src="http://static.duoshuo.com/embed.js"></script>

    
    <link rel="stylesheet" type="text/css" href="/static/ajax.css">
    <!-- 设置左侧背景图片的样式  -->
    <style>
      #sidebar-wrapper
      {
      border:0px solid black;
      //padding:10px;
      vertical-align: top;
      background-image:url('/static/bit_yinxing.jpg');
      background-repeat:no-repeat;
      //background-position:left;
      }
    </style>
  </head>  

  <body>
    <div id="wrapper">
      <div  id="sidebar-wrapper">
        <!-- 多级菜单 参考http://www.jqueryscript.net/demo/Multi-Level-Drop-Down-Menu-with-Pure-CSS3-Minimal-Transparent-Menu/blue/-->
        <ul class="mynav"><!-- 修改navigation.css中的nav为mynav. 不然, 和侧边栏隐藏引用的bootstrap中的nav冲突, 导致鼠标悬浮的时候颜色变成白色的了. -->
          <li ><a href="/posts?page=1" class="catetagclicks"><font size="2">所有文章</font></a></li><!-- 为了解决chrome有时候点击回退前进按钮不触发popstate事件的问题,暂时把页面上所有的链接的点击都换成了异步加载  @_@  -->
          <li class="dropdown"><a href="javascript:void(0);"><font size="2">文章分类</font></a>
            <ul>
              <li><a href="/posts?cate=工程技术&page=1" class="catetagclicks"><font size="2">工程技术</font></a></li>
              <li><a href="/posts?cate=算法&page=1" class="catetagclicks"><font size="2">算法</font></a></li>
              <li><a href="/posts?cate=生活&page=1" class="catetagclicks"><font size="2">生活随记</font></a></li>
            </ul>
          </li>
        </ul>
        <!-- 多级菜单依赖的js  没毛用  去了也没事.  这个代码就是google用来统计某些数据的 fuck!!-->
        <!-- <script type="text/javascript"> -->
        <!--   var _gaq = _gaq || []; -->
        <!--   _gaq.push(['_setAccount', 'UA-36251023-1']); -->
        <!--   _gaq.push(['_setDomainName', 'jqueryscript.net']); -->
        <!--   _gaq.push(['_trackPageview']); -->
        <!--   (function() { -->
        <!--   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; -->
        <!--   //下面这句话因为请求google的网址失败  导致整个网页加载巨慢 -->
        <!--   //ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; -->
        <!--   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); -->
        <!--   })(); -->
        <!-- </script> -->
        <div>
          <h1 align="center"><font size="5">Ambjlon's Blog</font></h1>
          <!-- image 响应式 参考 http://stackoverflow.com/questions/15458650/make-an-image-responsive-simplest-way-->
          <center><img src="/static/sculpture.jpeg" style='width:30%;' border="0" alt="Null" '/></center>
          <p align="center"><i class="fa fa-fw fa-user"></i><a class="postclicks" href="/post?id=0&name=about.md">关于本站</a>&nbsp&nbsp<i class="fa fa-fw fa-github"></i><a href="http://github.com/ambjlon" target="_blank">GitHub</a></p>
        </div>
        <br/>
        <br/>
        <div id="myCanvasContainer">
          <canvas width="500" height="500" style="width: 100%" id="myCanvas"></canvas>
        </div>
        <div style="display:none;" id="tags"> <!-- 添加style="display:none;" 否则标签云出来之前先闪现一个常规列表  很不友好 -->
          <ul>
            {% for e in tags %}
            {% if e != '' %}
            <li><a href="/posts?tag={{ e }}&page=1" class="catetagclicks"> {{ e }} </a></li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>        
      </div>
      <a href="javascript:void(0);" id="menu-toggle"><font size="6"><i class="fa fa-fw fa-bars"></i></font></a>      
      <div id="page-content-wrapper">
        <div>
          {% block content %}
          {% endblock %}
        </div>
      </div>

      <div class="footer">
        <p align="center">
          <i class="fa fa-fw fa-user"></i><a href="/aboutme/">About Me</a>&nbsp&nbsp<i class="fa fa-fw fa-github"></i><a href="http://github.com/ambjlon" target="_blank">GitHub</a>
        </p>
      </div>
    </div>
    <div id="SOHUCS"  ></div>
    <script type="text/javascript">
      (function(){
      var appid = 'cysE7DNJ7';
      var conf = 'prod_5f40a54419bd75d503c5e7bd5916dc79';
      var width = window.innerWidth || document.documentElement.clientWidth;
      if (width < 960) {
                  window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("http://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })();
      </script>
      <!--左侧sidebar隐藏 开始-->
      <script src="/static/bootstrap.min.js"></script>
      <script>
        $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        });
      </script>
      <!--左侧sidebar隐藏 结束-->
  </body>
</html>
