{% extends "base.html" %}
{% load custom_markdown %}
{% block content %}
<div class="posts">
  {% for post in post_list %}
  <section class="post">
    <header class="post-header">
      <h2 class="post-title"><a href="{% url "detail" id=post.id %}"><font size="4">{{ post.title }}</font></a></h2>
      <p class="post-meta">
        创建时间: {{ post.datetime |date:"Y年m月d日"}}
        <a class="post-category post-category-js" href="{% url "cast_category" category=post.category %}">{{ post.category }}</a>
        {% for e in post.tag_list %}
        <a class="post-category post-category-yui" href="{% url "cast_tag" tag=e %}">{{ e }}</a>
        {% endfor %}
      </p>
      <a class="pure-button" href="{% url "detail" id=post.id %}"><font size="2">Read More... </a>
    </header>

    <!-- ticket tags参考https://codepen.io/pankajparashar/pen/BKFpC.  会挤压left-page-->
    <!--link rel="stylesheet" href="/static/tags.css">
        <ul class="tags">
          {% for e in post.tag_list %}
          <li><a href="{% url "cast_tag" tag=e %}">{{ e }}</a></li>
          {% endfor %}
    </ul-->
  </section>
  <hr />
  {% endfor %}
</div><!-- /.blog-post -->
{% endblock %}
