{% extends "base.html" %}
{% load custom_markdown %}
{% block content %}
<div class="posts" id="asyncposts">
  <section class="post">
    <header class="post-header">
      <h2 class="post-title">{{ post.title }}</h2>
      <p class="post-meta">
        创建时间: {{ post.date_time | date:"Y年m月d日"}}
        {% if post.category != '' %}
        <a class="post-category post-category-js clicks" href="/posts?cate={{ post.category }}&page=1" class="cdp_i">{{ post.category }}</a>
        {% endif %}
        {% for e in tag_list %}
        {% if e != '' %}
        <a class="post-category post-category-yui clicks" href="/posts?tag={{ e }}&page=1">{{ e }}</a>
        {% endif %}
        {% endfor %}
      </p>
    </header>
    <div class="post-description">
      <p>{{ post.content|custom_markdown }}</p>
      <!-- mathjax 开始http://docs.mathjax.org/  请在搜索引擎搜索mathjax和markdown 原理是markdown中含有latex公式 mathjax对这些公式进行渲染. -->
      <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
      <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
        tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
        });
      </script>
      <!-- mathjax结束-->
    </div>
  </section>
</div><!-- /.blog-post -->
<!-- 多说评论框 start -->
<div id="duoshuo" class="ds-thread" data-thread-key="{{ post.id }}" data-title="{{ post.title }}" data-url=""></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
  var url=window.location.href;
  var duoshuo=document.getElementById("duoshuo");
  duoshuo.setAttribute("data-url", url);
  var duoshuoQuery = {short_name:"wgcimpression"};
  (function() {
  var ds = document.createElement('script');
  ds.type = 'text/javascript';ds.async = true;
  ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
  ds.charset = 'UTF-8';
  (document.getElementsByTagName('head')[0]
  || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
</script>
<!-- 多说公共JS代码 end -->
{% endblock %}
