{% extends "base.html" %}
{% block content %}
<div id="tagsList">
  <style type="text/css">
    body{background:#24313d;}
    #tagsList {position:relative; width:450px; height:450px; margin: 150px auto 0;  }
    #tagsList a {position:absolute; top:0px; left:0px; font-family: Microsoft YaHei; color:#fff; font-weight:bold; text-decoration:none; padding: 3px 6px; }
    #tagsList a:hover { color:#FF0000; letter-spacing:2px;}
  </style>

  <script type="text/javascript" src="/static/tagscloud.js"></script>

  {% for e in tag %}
  <a href="{% url "cast_tag" tag=e %}">{{ e }}</a>
  {% endfor %}
  
</div>
{% endblock %}
